@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.is-hidden {
  display: none;
}

/* .loader {
  width: 48px;
  height: 48px;
  background: #6ad6f7;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.2);
    border-radius: 10%;
  }
  50% {
    transform: rotate(180deg) scale(1.5);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg) scale(0.2);
    border-radius: 10%;
  }
} */



/* 2 variant ------------------------

.loader {
    font-size: 60px;
    display: inline-block;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    box-sizing: border-box;
    animation: animloader 1s ease-in infinite alternate;
  }
  
  @keyframes animloader {
    0% {
      filter: blur(0px);
      transform: skew(0deg);
    }
    100% {
      filter: blur(3px);
      transform: skew(-4deg);
    }
  } */

.cat-info {
  display: flex;
  width: 800px;
  margin-top: 20px;
  gap: 20px;
  font-family: 'Open Sans', sans-serif;
}


